.perfil
    background-color: $gris-oscuro
    color: $blanco
    height: 85vh
    display: flex
    flex-direction: row
    justify-content: center
    align-items: center
    @media (max-width: $breakpoint-mobile)
        flex-direction: column
        gap: 10px
        overflow-y: scroll
        overflow-x: hidden
        justify-content: flex-start
        padding-top: 10px
        
    
    .seccion-foto
        display: flex
        flex-direction: column
        gap: 10px
        align-items: center
        text-align: center
        width: 25vw
        > img
            width: 15vw
            @media (max-width: $breakpoint-mobile)
                width: 40vw

    .seccion-info
        display: flex
        flex-direction: column
        justify-content: flex-end
        align-items: flex-end
        gap: 10px
        width: 75vw
        @media (max-width: $breakpoint-mobile)
            width: 100vw
            align-items: center
            > label
                text-align: center
            
    
        .perfil-form
            background-color: $negro
            color: $blanco
            font-family: $fuente-principal
            height: 65vh
            width: 93%
            display: flex
            flex-direction: column
            justify-content: center
            align-items: center
            gap: 10px
            border-radius: 10px
            @media (max-width: $breakpoint-mobile)
                width: 100%

            > fieldset
                border: none
                display: flex
                flex-direction: column
                gap: 5px
                > div
                    text-align: center

    > h1
        text-align: center
        font-family: $fuente-secundaria
        font-size: 2em