body
    footer
        z-index: 101
        background-color: $negro
        color: $blanco
        font-family: $fuente-principal
        
        text-align: center
        
        display: flex
        justify-content: center
        align-items: center