body
    > header
        background-color: $negro

        display: flex
        flex-direction: row
        justify-content: space-between
        align-items: center

        padding-left: 2vw
        padding-right: 2vw
        padding-top: 1vh
        padding-bottom: 1vh