body
    > header
        z-index: 101
        background-color: $negro
        color: $blanco
        font-family: $fuente-principal
        display: flex
        flex-direction: row
        justify-content: space-between
        align-items: center
        padding: 1vh 1vw
        @media (max-width: $breakpoint-mobile)
            padding: 1vh 2.5vw

        > .logo
            display: flex
            flex-direction: row
            gap: 10px
            align-items: center
            > a
                > img
                    width: 4vw
                    @media (max-width: $breakpoint-mobile)
                        width: 15vw
                        

        > .avatar
            display: flex
            flex-direction: row
            gap: 10px
            align-items: center
            > img
                width: 4vw
                @media (max-width: $breakpoint-mobile)
                    width: 15vw

            
        

       