input[type="checkbox"]
    accent-color: $rojo-oscuro

input[type='text'], input[type='email'], input[type='password']
    height: 4vh
    width: 40vw
    font-size: 1em
    &:hover
        &::placeholder
            color: $rojo-oscuro

    @media (max-width: $breakpoint-mobile)
        width: 80vw